html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
}

.banner {
  text-align: center;
}

.new-hire {
  display: flex;
  justify-content: center;
}

.new-hire img {
  padding: 15px;
}

.first-nav-row,
.second-nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-container {
  text-align: center;
  margin: 10px;
}

.image-container img {
  display: block;
  margin: 0 auto;
}

.image-container .image-text {
  display: block;
  margin: 5px 0;
}

.home-documents {
  display: flex;
  justify-content: center;
}

.home-documents img {
  padding: 15px;
}

/* pages */

.leaves-page img {
  float: right;
  margin: 10px;
}

.chart img {
  height: 300px;
  width: 1000px;
}
