html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
}

.banner {
  text-align: center;
}

.new-hire {
  display: flex;
  justify-content: center;
}

.new-hire img {
  padding: 15px;
}

.first-nav-row,
.second-nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-container {
  text-align: center;
  margin: 10px;
}

.image-container img {
  display: block;
  margin: 0 auto;
}

.image-container .image-text {
  display: block;
  margin: 5px 0;
}

.home-documents {
  display: flex;
  justify-content: center;
}

.home-documents img {
  padding: 15px;
}

/* pages */

.page-image img {
  float: right;
  margin: 10px;
}

.chart img {
  height: 300px;
  width: 1000px;
}

.supp-chart img {
  height: 500px;
  width: 800px;
}

/* workplace accommodations */
.collapsible {
  background-color: #ffffff;
  color: #003c71;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  position: relative;
  border-bottom: 1px solid #00afd7;
  font-weight: bold;
  margin: 0;
}

.collapsible p {
  width: 100%;
  margin: 0;
}

.active,
.collapsible:hover {
  background-color: #00afd7;
}

.collapsible-wrapper {
  display: inline-block;
  width: 100%;
  margin: 0;
}

.content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
  margin: 0;
}

.content-questions {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: white;
  width: 100%;
  margin: 0;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
